body {
    height: 90vh;
    background-color: grey;

    /* overflow: hidden; */
}

.nav {
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: space-between;
    /* padding: 0px 30px; */
}

.sidebar {
    height: 100vh;
    background-color: black;
    color: white;
    width: 0px;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 1s;
}

.sidebar nav {
    margin-left: 20px;
}

#menu,
#cancel {
    border: none;
    background: transparent;
    font-size: 35px;
    font-weight: 900;
}

.cancelDiv {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

#cancel {
    color: white;
}


.btnDiv button {
    height: 6vh;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0px 10px;
}

.flex{
    display: flex;
    justify-content: end;
}
.danger{
    display: flex;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.danger button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(161, 159, 159);
    border: none;
}

.dropdown-content{
    display: none;
    height:30px;
    align-items: center;
    justify-content: center;
}

.danger button:hover {
    background-color: rgb(32, 21, 21);
    transition: 1s;
}

.danger:hover .dropdown-content {
    display: flex;
    color: black;
    background-color: white;
}

#body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

#events {
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

#input {
    padding: 15px 120px;
    outline: none;
    border: none;
    background-color: whitesmoke;
}

#button {
    padding: 15px 40px;
    border: none;
    margin-left: -4px;
    background-color: black;
    color: white;
}

#todo {
    overflow-x: auto;
    height: 40vh;
    margin-top: 20px;
}

#todo div {
    display: flex;
    width: 54vw;
    height: 7vh;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    margin-top: 10px;
}

#todo button {
    height: 7vh;
    padding: 0px 10px;
    border: none;
}

#todo h1 {
    margin-left: 5px;
}

.fixed {
    position: fixed;
    width: 100%;
}

.modal{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    background-color: rgba(0,0,0,0.639);
    display: none;
}

.delModal {
    width: 30%;
    height: 30vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.optionDiv {
    height: 18vh;
    display: flex;
    width: 30vw;
    align-items: end;
    justify-content: space-around;
    border-top: 1px solid black;
}

.option {
    height: 40px;
    width: 100px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    border: none;
    transition: 0.5s;
}

.option:hover{
    opacity: 0.8;
}